*-blx.bib
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lot
*.lof
*.bcf
*.snm
*.nav

Proposal/*.pdf
Thesis/*.pdf

.vscode/settings.json
zwischen_presentation/.vscode/settings.json
zwischen_presentation/intermediate.pdf
zwischen_presentation/.DS_Store
