*-blx.bib
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lot
*.lof
*.bcf
*.snm
*.nav
*.lol
*.vrb


Proposal/**/*.pdf
Thesis/**/*.pdf
Thesis/code/configs

.vscode/settings.json
zwischen_presentation/.vscode/settings.json
zwischen_presentation/intermediate.pdf
zwischen_presentation/.DS_Store