*-blx.bib
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lot
*.lof
*.bcf
*.snm
*.nav
*.lol
*.vrb
*.docx


Proposal/**/*.pdf
Thesis/**/*.pdf
Thesis/code/configs
Thesis/output

.vscode/settings.json
Zwischen_Praesentation/.vscode/settings.json
Zwischen_Praesentation/intermediate.pdf